<%- include('header') %>
<div class="container-fluid">
    <h1>Welcome to Chat App </h1>
    <div id="chat"></div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded">
            <ul class="p-0">
                <li>
                    <div class="row comments mb-2">
                        <div class="col-md-2 col-sm-2 col-3 text-center user-img">
                            <img id="profile-photo" src="http://nicesnippets.com/demo/man01.png" class="rounded-circle" />
                        </div>
                        <div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
                            <h4 class="m-0"><a href="#">Tye Simmon</a></h4>
                            <time class="text-white ml-3">1 month ago</time>
                            <p class="mb-0 text-white">Thank you for visiting all the way from New York.</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row comment-box-main p-3 rounded-bottom">
                <div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
                    <input type="text" id="message" class="form-control" placeholder="Add Message" />
                </div>
                <div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
                    <button id="send" class="btn btn-info">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>
