<%- include('header') %>
    <div class="container-fluid">
        <h1>Welcome to Chat App </h1>
        <div id="chat"></div>
    </div>

    <div class="container-fluid">
        <input type="text" id="user" />
        <button id="add-user">Add User</button>

        <input type="text" id="message" />
        <button id="send">Send</button>
    </div>

<%- include('footer') %>
