<%- include('header') %>
    <div class="container-fluid">
        <%# <h1>Welcome to Chat App </h1> %>
        <div id="chat"></div>
    </div>

    <div class="container" id="root">
    </div>

<%- include('footer') %>
